<main>
  <EmberThree
    @id='cube-demo'
    @rendererParams={{this.rendererParams}}
    as |emberThree|
  >
    <EmberThree::Cameras::PerspectiveCamera
      @position={{this.cameraPosition}}
    />
    <EmberThree::Objects::Mesh
      @rotation={{this.rotation}}
      @parent={{emberThree.scene}}
      @material={{this.material}}
      @geometry={{this.geometry}}
    />
  </EmberThree>
</main>
